/* ------------------
    Import Google Font 
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



/*------------------------
    Base Styles 
 -------------------------*/
 body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
 }

 .container {
     display: flex;
     justify-content: center;
     margin-top: 70px;
     margin-bottom: 70px;
 }



 /* ----------------------------
        Top Banner Section 
--------------------------------*/
.top-banner {
    background: #2D25A0;
    display: flex;
}

/* Section Info */
.section-info {
    width: 40%;
    padding-top: 220px;
    padding-left: 200px;
    padding-bottom: 240px;
}

/* Section Heading */
.section-info h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin: 0; 
    color: #FFFFFF;
}

/* Section Button */
.section-button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    margin-top: 27px;
}

.section-button span {
    padding-left: 9px;
}

/* Section Image Wrapper  */
.section-image {
    width: 60%;
}

/* Section Banner Image */
.section-image img {
    width: 570px;
    padding: 135px 140px 80px 102px;
}



/* ------------------------------ 
        Plyaer Section 
---------------------------------*/
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

/* Player Box */
.player {
    width: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* Player Image Wrap */
.player-image {
    padding: 15px;
} 

/* Player Image */
.player .player-image img {
    width: 300px;
    height: 256px;
}

/* Player Info */
.player-info {
    padding: 15px 15px 33px;
}

.player-info h3 {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
}

.player-info p {
    line-height: 26px;
    padding-top: 10px;
    margin: 0;
}


/*----------------------------------
         Footer  
------------------------------------*/
.footer-content {
    display: flex;
    flex-direction: column;
}

/* Footer Logo */
.footer-content .logo img {
    width: 485px;
}

/* Social Icons Wrapper */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 14px;
}

/* Social Icon */
.social-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: gray;
    background-color: #E7E7E8;
}

/* Copyright Text */
.copyright-text {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

/*--------------------------------------
        Responsive @media Queries
----------------------------------------*/

/* Mobile Devices - Max Width 688px */

@media only screen and (max-width:688px) {
    .container {
        margin-top: 47px;
    }
    
    .top-banner {
        flex-direction: column;
    }

    .section-info {
        width: 278px;
        padding: 112px 66px 50px 15px;
    }
    
    .section-info h1 {
        font-size: 36px;
    }

    .section-image {
        width: 100%;
    }
    
    .section-image img {
        width: 329px;
        height: 260px;
        padding: 0 15px 62px;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 15px;
    }

    .footer-content .logo img {
        width: 270px;
    }

    .social-icons {
        margin-top: 50px;
    }
}

/* Tablet Devices - Width 689px to 992px */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        margin-top: 47px;
    }
    
    .top-banner {
        flex-direction: column;
    }

    .section-info {
        width: 90%;
        padding: 5%;
    }

    .section-image {
        width: 90%;
        padding: 20px;
    }

    .section-image img {
        width: 90%;
        padding: 0;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 15px;
    }
}