/* ------------------
    Import Google Font 
---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*-------------------
    Base Styles 
 ----------------------*/
 body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
 }

 .container {
     display: flex;
     justify-content: center;
     margin-top: 70px;
     margin-bottom: 70px;
 }

 /* -------------------
        Top Banner  
-----------------------*/
.top-banner {
    background: #2D25A0;
    display: flex;
}

/* Top Section Info  */
.section-info {
    width: 40%;
    padding-top: 220px;
    padding-left: 200px;
    padding-bottom: 240px;
}

.section-info h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin: 0; 
    color: #FFFFFF;
}
/* Top Section Button  */

.section-button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    margin-top: 27px;
}

.section-button span {
    padding-left: 9px;
}

/* Top Section Image  */

.section-image {
    width: 60%;
}

/* Top Banner Image */
.section-image img {
    width: 570px;
    padding: 135px 140px 80px 102px;
}

/* ------------------- 
        Plyaer Section 
------------------------ */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

/* Player Box */
.player {
    width: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* Player Image */
.player-image {
    padding: 15px;
} 

.player .player-image img {
    width: 300px;
    height: 256px;
}

/* Player Info */
.player-info {
    padding: 15px 15px 33px;
}

.player-info h3 {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
}

.player-info p {
    line-height: 26px;
    padding-top: 10px;
    margin: 0;
}
